-var path = '../';
-var head_url = 'https://turmovich.mastervision.su/partnership-program/promo/';
-var head_title = 'Вы зарегистрированны на мастер-класс по Партнерским программам';
-var head_description = 'Подпишись в Telegram';
-var styles = path+'css/promo.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var noref = true;
-var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var ak = true;
-var ah = true;

mixin b(cl, clb, href, p, target, id)
	.button-wrapper(class=cl)
		a.button(class='button-'+clb href!=bHref target=target id=id)=p
mixin gt(cl, h3)
	h3.general-title(class=cl)=h3
mixin imgs(cl, src ,alt)
	img(class=cl src=path+src alt=alt)
mixin gul(cl, ...items)
	ul.general-list(class='general-list-'+cl)
		each item in items
			li=item

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/promo/1-main
		include pug/base/2-footer
		include pug/scripts/body_bottom_scripts