section#main
	.container
		.content
			include ../base/1-header
			.row
				.col-md-8
					p.main-pre Актуальная высокооплачиваемая профессия - что это?
					h1.main-title Станьте востребованным онлайн-руководителем и развивайте 
						span партнёрские программы для бизнеса
					.main-date
						p.main-date-text Даты: 
							span 29 и 30 сентября 19:00 (Мск)
						p.main-date-text Авторы: 
							span Вадим Турмович и Александр Кудряшов
			form(action=action+group method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target=form_target).form.form-main.general-wrapper.general-wrapper-blue
				.row
					.col-md-5
						h3.form-title Спешите записаться
						h3.form-title.hide Мастер-класс завершён!
					.col-md-7
						.email-block.email-block-form
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="input input-mail input-mail-main" name="Contact[email]" type="text" placeholder="Ваш Email")
						button(type="submit").button.button-form.button-yellow.button-form-main Записаться
						.clearfix
						p.alert-message
						.checking.checking-main
							input(type="checkbox" id="check-1").check
							label(for="check-1").check-label Я согласен с 
								a(href=politics target="_blank") условиями обработки
								|  персональных данных по 152 - Ф3
				div(style="display: none;")
					#formTypeSpecificVars-1(style="display: none;")
						input(type="hidden" value=group id="form_newsletter_id_newsletter_1" name="Contact[id_newsletter]")
					<!-- API код канала рекламы -->
					input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page_1" name="Contact[id_advertising_channel_page]")
					input(type="hidden" name="formId" value=formId)
					input(type="hidden" name="formVc" value=formVc)
					input(type="hidden" name="_aid" value="")
					input(type="hidden" name="_vcaid" value="")
		+imgs('main-img', 'img/images/main.png', 'Компьютер')