section#revs
	.container
		+gt('general-title-center', 'Отзывы клиентов')
		.row
			//- .col-md-4
			//- 	.video-wrapper.video-wrapper-rev(data-youtube="wxXy8v9Ay-I" data-img=path+"img/revs/video-1.jpg")
			//- 		img(src=path+"img/revs/video-1.jpg", alt="Отзыв 1")
			//- 		.yt-button
			//- 	p.video-rev-text Отзыв Юраты
			//- 	ul.general-list-2.general-list-rev
			//- 		li - Реализовалась как профессионал
			//- 		li - За короткий срок стала совладельцем компании
			//- 		li - Вышла на доход свыше 400&nbsp;000р./мес.
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="Bo6vh6xxq_Q" data-img=path+"img/revs/video-2.jpg")
					img(src=path+"img/revs/video-2.jpg", alt="Отзыв 2")
					.yt-button
				p.video-rev-text Отзыв Элины
				ul.general-list-2.general-list-rev
					li - Пришла с руководящей должности
					li - Обучение уже искала
					li - Параллельно ведет 2 проекта
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="tI35MVmWk40" data-img=path+"img/revs/video-3.jpg")
					img(src=path+"img/revs/video-3.jpg", alt="Отзыв 3")
					.yt-button
				p.video-rev-text Отзыв Елены
				ul.general-list-2.general-list-rev
					li - Уже во время обучения вышла на доход 150&nbsp;000р./мес.
					li - Параллельно ведет 4 проекта
					li - Взяла на работу помощницу
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="wgPssNIG7u8" data-img=path+"img/revs/video-4.jpg")
					img(src=path+"img/revs/video-4.jpg", alt="Отзыв 4")
					.yt-button
				p.video-rev-text Отзыв Валентины
				ul.general-list-2.general-list-rev
					li - "Если учиться, то учиться у лучших"
					li - Впервые отдел вышел на выручку в 4&nbsp;млн. р.
					li - Уже во время обучения повысили в должности
		.row
			.col-md-4.col-md-offset-4
				.video-wrapper.video-wrapper-rev(data-youtube="Kl1vXW4m1X8" data-img=path+"img/revs/video-5.jpg")
					img(src=path+"img/revs/video-5.jpg", alt="Отзыв 5")
					.yt-button
				p.video-rev-text Отзыв Лидии
				ul.general-list-2.general-list-rev
					li - Не подразумевала, что после обучения будет такой рост
					li - Жизнь поменялась кардинально, начиная с прибавки к ЗП
					li - "Ты четко стоишь на своих ногах, и знаешь куда и зачем ты идешь"